<% posts.each do |post| %>
  <br>
  <%= link_to post_path(post) do %>
    <pre><%= post.message %></pre>
  <% end %>
  <p>Posted by <%= post.user.name %> at: <%= post.updated_at.strftime("%Y-%m-%d %k:%M")%></p>
  <br>
<% end %>
